<li data-ng-class="{ active: $state.includes(item.sref) }" data-ng-repeat="item in navigation">
  <a data-ui-sref="{{ item.sref }}">
    <i class="fa fa-desktop"></i>
    <span class="nav-label">{{ item.title }}</span>
  </a>
  <ul class="nav nav-second-level collapse" data-ng-if="item.nested && item.nested.length">
    <li data-ng-repeat="nested in item.nested" ui-sref-active="active">
      <a data-ui-sref="{{ nested.sref }}">
        <i class="fa fa-desktop"></i>
        <span class="nav-label"> {{ nested.title }}</span>
      </a>
    </li>
  </ul>
</li>